.importar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.importar-card {
    width: 500px;
    padding: 2.5rem 4rem;
}

.importar-title {
    margin-bottom: 2rem;
}

.drop-zone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.drop-zone-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.upload-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
    opacity: 0.6;
}

.drop-zone-text {
    font-size: 1.2rem;
    color: #666;
    margin: 0;
}

.importar-file-input {
    display: none;
}

.importar-bottom-btns {
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin-top: 1.5rem;
}

.drop-zone-hover {
    border-color: #000;
    background-color: rgba(0, 0, 0, 0.05);
}

.drop-zone.drop-zone-hover .upload-icon {
    opacity: 0.8;
}

@media screen and (max-width: 710px) {
    .importar-card {
        width: 50%;
    }
}
