.hecho-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.form-hecho-input, .form-hecho-textarea {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;

    margin-top: 5px;
    margin-bottom: 20px;
}

.form-hecho-textarea {
    resize: none;
}

.form-hecho-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.cancel-btn {
    color: #222;
    text-decoration: none;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: .9rem;
}

.form-hecho-submit-btn {
    padding: 0 2.5rem;
}

.black-btn {
    background-color: #222;
    color: white;
    text-decoration: none;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: .9rem;
}

#categoria-select {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#categoria-select select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
    background: white;
}