.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background-color: #FAFAFA;
}

.login-box {
    width: 350px;
    padding: 30px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.login-box h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 12px;
    color: #555;
    margin-bottom: 20px;
}

.login-box h2 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-login-submit,
.btn-registrarse-submit {
    width: 100%;
    padding: 10px 0;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.btn-login-submit {
    background-color: #222;
    color: white;
    margin-bottom: 10px;
}

.btn-registrarse-submit {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #666;
    color: white;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-info {
    width: 100%;
    text-align: left;
}