main {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    gap: 24px;
}

.intro-text {
    max-width: 480px;
}

.intro-text h2 {
    font-weight: 700;
    margin-bottom: 8px;
}

.intro-text p {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 16px;
    color: #555;
}

.btn-ver-colecciones {
    background-color: #222;
    color: #fff;
    border: none;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-ver-colecciones:hover {
    background-color: #444;
}

.intro-image img {
    max-width: 400px;
    border-radius: 12px;
    object-fit: contain;
}

.destacados {
    margin-bottom: 3rem;
    max-width: 840px;
    width: 100%;
}

.destacado-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.destacado-header h3 {
    font-weight: 700;
    font-size: 1.1rem;
    color: #111;
}

.ver-mas {
    font-size: 0.85rem;
    color: #2a58ff;
    text-decoration: none;
    margin-right: 1rem;
}

.ver-mas:hover {
    text-decoration: underline;
}

.cards-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.f-carousel__slide {
    --f-carousel-slide-width: calc(50% - 1rem) !important;
    width: calc(50% - 1rem) !important;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 18px 16px;
    border-radius: 8px;
    width: 100%;
}

.card h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #222;
}

.card p {
    font-size: 0.85rem;
    line-height: 1.3;
    color: #555;
    margin-bottom: 12px;
}

.card a {
    font-size: 0.85rem;
    color: #2a58ff;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

footer {
    background-color: #e6e1e1;
    padding: 18px 24px;
    margin-top: auto;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    font-size: 0.85rem;
    color: #666;
}

.footer-content a {
    color: #666;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.f-carousel {
    --f-button-next-pos: -40px !important;
    --f-button-prev-pos: -40px !important;
    --f-carousel-spacing: 1rem !important;
}

.btns-intro {
    display: flex;
    gap: 10px;
    align-items: center;
}

@media (max-width: 700px) {
    .intro {
        flex-direction: column;
        text-align: center;
    }

    .btns-intro {
        justify-content: center;
    }

    .btn-ver-colecciones {
        font-size: .8rem;
    }

    .intro-text,
    .intro-image {
        max-width: 100%;
    }

    .cards-container {
        flex-direction: column;
    }

    .card {
        min-width: 80%;
    }

    .footer-content {
        flex-direction: column;
        gap: 12px;
    }

    .f-carousel__slide {
        --f-carousel-slide-width: calc(100% - 1rem) !important;
        width: calc(100% - 1rem) !important;
    }
}
