.sidebar-container {
    height: 100vh;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 11;
}

.sidebar-menu-container {
    height: 100%;
    width: 0;
    overflow: hidden;
    background-color: #222;
    opacity: 0.9;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    transition: width 0.3s ease;
    display: flex;
    gap: 20px;
}

.sidebar-menu-container a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.2s;
    padding: 1rem 2rem;
}

.logout-btn {
    color: white;
    font-size: 1.1rem;
    transition: color 0.2s;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    opacity: 0.8;
    cursor: pointer;
}

.sidebar-menu-container a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    opacity: 0.8;
}

.sidebar-btn-container {
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transition: left 0.3s ease;
}

.sidebar-btn {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    opacity: 0.9;
    padding: 1.5rem 1.25rem 1.5rem .7rem;
    border-radius: 0 60% 60% 0;
    cursor: pointer;
}